In [1]:
import pandas as pd

Only Men's Calculation

In [2]:
#Only Men Count
cols = ["state-code", "area-name", "Total", "Age-group", "Tot_p", "Illiterate", "Literate but below primary", "Primary but below middle", "Middle but below matric/secondary", "Matric", "HigherSecondary", "NonTechDiploma", "TechDiploma", "Graduate and above"]
df1 = pd.read_excel("../Data/DDW-0000C-08.xlsx", skiprows = [0,1,2,3,5,6], names = cols, usecols = [1, 3, 4, 5, 7, 10, 19, 22, 25, 28, 31, 34, 37, 40])
df1 = df1[(df1["Total"] == "Total") & (df1["Age-group"] == "All ages")]

In [3]:
# Adding "Matric/Secondary but below graduate" column to C-08 data
temp = []
for idx, row in df1.iterrows():
    temp.append(row["Matric"] + row["HigherSecondary"] + row["NonTechDiploma"] + row["TechDiploma"])
df1["Matric/Secondary but below graduate"] = temp

In [4]:
cols = ["state-code", "area-name", "Total", "EduLevel", "TwoLang_m", "TwoLang_f", "ThreeLang_m", "ThreeLang_f"]
df2 = pd.read_excel("../Data/DDW-C19-0000.xlsx", skiprows = [0,1,2,3,5], usecols = [0, 2, 3, 4, 6, 7, 9, 10], names = cols)
df2 = df2[df2['Total'] == "Total"]
df2 = df2[(df2["EduLevel"] != "Total") & (df2["EduLevel"] != "Literate")]
df2["state-code"] = df2[["state-code"]].apply(pd.to_numeric)

In [5]:
output = {"state/ut": [], "literacy-group-males": [], "ratio-males": [], "literacy-group-females": [], "ratio-females": []}
scodes = df1["state-code"].unique().tolist()
for idx, row in df1.iterrows():
    temp = df2[df2["state-code"] == row["state-code"]]
    output["state/ut"].append(temp["state-code"].unique()[0])
    litgrp_m = ""
    maxpercent_m = 0
    for idx2, row2 in temp.iterrows():
        threeLang = row2["TwoLang_m"] - row2["ThreeLang_m"]
        tot_p = row[row2["EduLevel"]]
        percent = threeLang/tot_p
        if percent > maxpercent_m:
            maxpercent_m = percent
            litgrp_m = row2["EduLevel"]
    output["literacy-group-males"].append(litgrp_m)
    output["ratio-males"].append(maxpercent_m)

Only Female's Calculation

In [6]:
#Only Female Count
cols = ["state-code", "area-name", "Total", "Age-group", "Tot_p", "Illiterate", "Literate but below primary", "Primary but below middle", "Middle but below matric/secondary", "Matric", "HigherSecondary", "NonTechDiploma", "TechDiploma", "Graduate and above"]
df1 = pd.read_excel("../Data/DDW-0000C-08.xlsx", skiprows = [0,1,2,3,5,6], names = cols, usecols = [1, 3, 4, 5, 8, 11, 20, 23, 26, 29, 32, 35, 38, 41])
df1 = df1[(df1["Total"] == "Total") & (df1["Age-group"] == "All ages")]

In [7]:
# Adding "Matric/Secondary but below graduate" column to C-08 data
temp = []
for idx, row in df1.iterrows():
    temp.append(row["Matric"] + row["HigherSecondary"] + row["NonTechDiploma"] + row["TechDiploma"])
df1["Matric/Secondary but below graduate"] = temp

In [8]:
for idx, row in df1.iterrows():
    temp = df2[df2["state-code"] == row["state-code"]]
    litgrp_f = ""
    maxpercent_f = 0
    for idx2, row2 in temp.iterrows():
        threeLang = row2["TwoLang_f"] - row2["ThreeLang_f"]
        tot_p = row[row2["EduLevel"]]
        percent = threeLang/tot_p
        if percent > maxpercent_f:
            maxpercent_f = percent
            litgrp_f = row2["EduLevel"]
    output["literacy-group-females"].append(litgrp_f)
    output["ratio-females"].append(maxpercent_f)

In [9]:
df = pd.DataFrame(output).sort_values(by=['state/ut'])
df.to_csv("../Final Outputs/literacy-gender-b.csv", index = False)

In [10]:
df

,state/ut,literacy-group-males,ratio-males,literacy-group-females,ratio-females
0,0,Graduate and above,0.355390,Graduate and above,0.376113
1,1,Middle but below matric/secondary,0.594151,Middle but below matric/secondary,0.583226
2,2,Graduate and above,0.219609,Graduate and above,0.240272
3,3,Middle but below matric/secondary,0.337453,Middle but below matric/secondary,0.337852
4,4,Matric/Secondary but below graduate,0.329628,Middle but below matric/secondary,0.353068
5,5,Graduate and above,0.343732,Graduate and above,0.354939
6,6,Graduate and above,0.442299,Graduate and above,0.472862
7,7,Graduate and above,0.634521,Graduate and above,0.632253
8,8,Graduate and above,0.292334,Graduate and above,0.362975
9,9,Graduate and above,0.403103,Graduate and above,0.433187
10,10,Graduate and above,0.277969,Graduate and above,0.311809
11,11,Primary but below middle,0.471962,Primary but below middle,0.447626
12,12,Literate but below primary,0.501836,Literate but below primary,0.513165
13,13,Primary but below middle,0.492079,Primary but below middle,0.518272
14,14,Middle but below matric/secondary,0.380605,Matric/Secondary but below graduate,0.367819
15,15,Graduate and above,0.614996,Graduate and above,0.675127
16,16,Matric/Secondary but below graduate,0.400483,Graduate and above,0.365270
17,17,Matric/Secondary but below graduate,0.400086,Graduate and above,0.462337
18,18,Primary but below middle,0.405712,Primary but below middle,0.389562
19,19,Graduate and above,0.352890,Graduate and above,0.356559
20,20,Graduate and above,0.353659,Graduate and above,0.399280
21,21,Middle but below matric/secondary,0.294310,Matric/Secondary but below graduate,0.282474
22,22,Graduate and above,0.228917,Graduate and above,0.295320
23,23,Graduate and above,0.392929,Graduate and above,0.429425
24,24,Middle but below matric/secondary,0.544774,Middle but below matric/secondary,0.537277
25,25,Matric/Secondary but below graduate,0.416683,Middle but below matric/secondary,0.550489
26,26,Literate but below primary,0.508823,Literate but below primary,0.546523
27,27,Middle but below matric/secondary,0.511579,Middle but below matric/secondary,0.494496
28,28,Graduate and above,0.368235,Graduate and above,0.376179
29,29,Matric/Secondary but below graduate,0.325712,Matric/Secondary but below graduate,0.326569
30,30,Literate but below primary,0.475980,Literate but below primary,0.492154
31,31,Matric/Secondary but below graduate,0.236254,Graduate and above,0.257109
32,32,Graduate and above,0.378123,Graduate and above,0.388279
33,33,Graduate and above,0.597716,Graduate and above,0.604541
34,34,Graduate and above,0.635704,Graduate and above,0.637281
35,35,Primary but below middle,0.650185,Primary but below middle,0.630005