In [1]:
import pandas as pd

Only Men's Calculation

In [2]:
#Only Men Count
cols = ["state-code", "area-name", "Total", "Age-group", "Tot_p", "Illiterate", "Literate but below primary", "Primary but below middle", "Middle but below matric/secondary", "Matric", "HigherSecondary", "NonTechDiploma", "TechDiploma", "Graduate and above"]
df1 = pd.read_excel("../Data/DDW-0000C-08.xlsx", skiprows = [0,1,2,3,5,6], names = cols, usecols = [1, 3, 4, 5, 7, 10, 19, 22, 25, 28, 31, 34, 37, 40])
df1 = df1[(df1["Total"] == "Total") & (df1["Age-group"] == "All ages")]

In [3]:
# Adding "Matric/Secondary but below graduate" column to C-08 data
temp = []
for idx, row in df1.iterrows():
    temp.append(row["Matric"] + row["HigherSecondary"] + row["NonTechDiploma"] + row["TechDiploma"])
df1["Matric/Secondary but below graduate"] = temp

In [4]:
cols = ["state-code", "area-name", "Total", "EduLevel", "TwoLang_m", "TwoLang_f"]
df2 = pd.read_excel("../Data/DDW-C19-0000.xlsx", skiprows = [0,1,2,3,5], usecols = [0, 2, 3, 4, 6, 7], names = cols)
df2 = df2[df2['Total'] == "Total"]
df2 = df2[(df2["EduLevel"] != "Total") & (df2["EduLevel"] != "Literate")]
df2["state-code"] = df2[["state-code"]].apply(pd.to_numeric)

In [5]:
output = {"state/ut": [], "literacy-group-males": [], "ratio-males": [], "literacy-group-females": [], "ratio-females": []}
for idx, row in df1.iterrows():
    temp = df2[df2["state-code"] == row["state-code"]]
    output["state/ut"].append(temp["state-code"].unique()[0])
    litgrp_m = ""
    maxpercent_m = 0
    for idx2, row2 in temp.iterrows():
        threeLang = row[row2["EduLevel"]] - row2["TwoLang_m"]
        tot_p = row[row2["EduLevel"]]
        percent = threeLang/tot_p
        if percent > maxpercent_m:
            maxpercent_m = percent
            litgrp_m = row2["EduLevel"]
    output["literacy-group-males"].append(litgrp_m)
    output["ratio-males"].append(maxpercent_m)

Only Female's Count

In [6]:
#Only Female Count
cols = ["state-code", "area-name", "Total", "Age-group", "Tot_p", "Illiterate", "Literate but below primary", "Primary but below middle", "Middle but below matric/secondary", "Matric", "HigherSecondary", "NonTechDiploma", "TechDiploma", "Graduate and above"]
df1 = pd.read_excel("../Data/DDW-0000C-08.xlsx", skiprows = [0,1,2,3,5,6], names = cols, usecols = [1, 3, 4, 5, 8, 11, 20, 23, 26, 29, 32, 35, 38, 41])
df1 = df1[(df1["Total"] == "Total") & (df1["Age-group"] == "All ages")]

In [7]:
# Adding "Matric/Secondary but below graduate" column to C-08 data
temp = []
for idx, row in df1.iterrows():
    temp.append(row["Matric"] + row["HigherSecondary"] + row["NonTechDiploma"] + row["TechDiploma"])
df1["Matric/Secondary but below graduate"] = temp

In [8]:
for idx, row in df1.iterrows():
    temp = df2[df2["state-code"] == row["state-code"]]
    litgrp_f = ""
    maxpercent_f = 0
    for idx2, row2 in temp.iterrows():
        threeLang = row[row2["EduLevel"]] - row2["TwoLang_f"]
        tot_p = row[row2["EduLevel"]]
        percent = threeLang/tot_p
        if percent > maxpercent_f:
            maxpercent_f = percent
            litgrp_f = row2["EduLevel"]
    output["literacy-group-females"].append(litgrp_f)
    output["ratio-females"].append(maxpercent_f)

In [9]:
df = pd.DataFrame(output).sort_values(by=['state/ut'])
df.to_csv("../Final Outputs/literacy-gender-c.csv", index = False)

In [10]:
df

,state/ut,literacy-group-males,ratio-males,literacy-group-females,ratio-females
0,0,Illiterate,0.905300,Illiterate,0.905629
1,1,Illiterate,0.855547,Illiterate,0.863962
2,2,Illiterate,0.950251,Illiterate,0.950697
3,3,Illiterate,0.937055,Illiterate,0.940017
4,4,Illiterate,0.915719,Illiterate,0.896151
5,5,Illiterate,0.918709,Illiterate,0.924720
6,6,Illiterate,0.953701,Illiterate,0.954443
7,7,Illiterate,0.930012,Illiterate,0.924086
8,8,Illiterate,0.967450,Illiterate,0.966512
9,9,Illiterate,0.964954,Illiterate,0.966821
10,10,Illiterate,0.908009,Illiterate,0.907805
11,11,Illiterate,0.738736,Illiterate,0.719603
12,12,Illiterate,0.639328,Illiterate,0.636261
13,13,Illiterate,0.761055,Illiterate,0.773764
14,14,Illiterate,0.828264,Illiterate,0.837110
15,15,Illiterate,0.924647,Illiterate,0.928491
16,16,Illiterate,0.836641,Illiterate,0.805153
17,17,Illiterate,0.915355,Illiterate,0.923029
18,18,Illiterate,0.697787,Illiterate,0.712778
19,19,Illiterate,0.921238,Illiterate,0.920569
20,20,Illiterate,0.832870,Illiterate,0.823545
21,21,Illiterate,0.850540,Illiterate,0.856599
22,22,Illiterate,0.917962,Illiterate,0.926049
23,23,Illiterate,0.931703,Illiterate,0.935977
24,24,Illiterate,0.920295,Illiterate,0.924797
25,25,Illiterate,0.902603,Illiterate,0.889970
26,26,Illiterate,0.692500,Illiterate,0.651430
27,27,Illiterate,0.827984,Illiterate,0.823501
28,28,Illiterate,0.889767,Illiterate,0.888555
29,29,Illiterate,0.803776,Illiterate,0.790211
30,30,Illiterate,0.762904,Illiterate,0.733111
31,31,Illiterate,0.969020,Illiterate,0.988416
32,32,Illiterate,0.975560,Illiterate,0.973047
33,33,Illiterate,0.911994,Illiterate,0.903654
34,34,Illiterate,0.976132,Illiterate,0.975204
35,35,Illiterate,0.720684,Illiterate,0.711752