In [1]:
import pandas as pd

In [2]:
cols = ["state-code", "area-name", "mother-tongue", "tot_p"]
df1 = pd.read_excel("../Data/DDW-C16-STMT-MDDS-0000.XLSX", skiprows = [0,1,2,3,5], names = cols, usecols = [1, 4, 6, 7])
df1['mother-tongue'] = df1['mother-tongue'].str.replace(r'\d+', '', regex = True)
df1 = df1[df1['mother-tongue'].str.isupper()]

In [3]:
north = df1[(df1['area-name'] == "JAMMU & KASHMIR") | (df1['area-name'] == "PUNJAB") | (df1['area-name'] == "HIMACHAL PRADESH") | (df1['area-name'] == "HARYANA") | (df1['area-name'] == "UTTARAKHAND") | (df1['area-name'] == "NCT OF DELHI") | (df1['area-name'] == "CHANDIGARH")]
west = df1[(df1['area-name'] == "RAJASTHAN") | (df1['area-name'] == "GUJARAT") | (df1['area-name'] == "MAHARASHTRA") | (df1['area-name'] == "GOA") | (df1['area-name'] == "DADRA & NAGAR HAVELI") | (df1['area-name'] == "DAMAN & DIU")]
central = df1[(df1['area-name'] == "MADHYA PRADESH") | (df1['area-name'] == "UTTAR PRADESH") | (df1['area-name'] == "CHHATTISGARH")]
east = df1[(df1['area-name'] == "BIHAR") | (df1['area-name'] == "WEST BENGAL") | (df1['area-name'] == "ODISHA") | (df1['area-name'] == "JHARKHAND")]
south = df1[(df1['area-name'] == "KARNATAKA") | (df1['area-name'] == "ANDHRA PRADESH") | (df1['area-name'] == "TAMIL NADU") | (df1['area-name'] == "KERALA") | (df1['area-name'] == "LAKSHADWEEP") | (df1['area-name'] == "PUDUCHERRY")]
north_east = df1[(df1['area-name'] == "ASSAM") | (df1['area-name'] == "SIKKIM") | (df1['area-name'] == "MEGHALAYA") | (df1['area-name'] == "TRIPURA") | (df1['area-name'] == "ARUNACHAL PRADESH") | (df1['area-name'] == "MANIPUR") | (df1['area-name'] == "NAGALAND") | (df1['area-name'] == "MIZORAM") | (df1['area-name'] == "ANDAMAN & NICOBAR ISLANDS")]

In [4]:
output = {"region": [], "language-1": [], "language-2": [], "language-3": []}
output["region"].append("North")
north = north.groupby(["mother-tongue"], as_index=False).agg("sum").sort_values(by=['tot_p'], ascending=False, ignore_index = True)
output["language-1"].append(north["mother-tongue"][0])
output["language-2"].append(north["mother-tongue"][1])
output["language-3"].append(north["mother-tongue"][2])

In [5]:
output["region"].append("West")
west = west.groupby(["mother-tongue"], as_index=False).agg("sum").sort_values(by=['tot_p'], ascending=False, ignore_index = True)
output["language-1"].append(west["mother-tongue"][0])
output["language-2"].append(west["mother-tongue"][1])
output["language-3"].append(west["mother-tongue"][2])

In [6]:
output["region"].append("Central")
central = central.groupby(["mother-tongue"], as_index=False).agg("sum").sort_values(by=['tot_p'], ascending=False, ignore_index = True)
output["language-1"].append(central["mother-tongue"][0])
output["language-2"].append(central["mother-tongue"][1])
output["language-3"].append(central["mother-tongue"][2])

In [7]:
output["region"].append("East")
east = east.groupby(["mother-tongue"], as_index=False).agg("sum").sort_values(by=['tot_p'], ascending=False, ignore_index = True)
output["language-1"].append(east["mother-tongue"][0])
output["language-2"].append(east["mother-tongue"][1])
output["language-3"].append(east["mother-tongue"][2])

In [8]:
output["region"].append("South")
south = south.groupby(["mother-tongue"], as_index=False).agg("sum").sort_values(by=['tot_p'], ascending=False, ignore_index = True)
output["language-1"].append(south["mother-tongue"][0])
output["language-2"].append(south["mother-tongue"][1])
output["language-3"].append(south["mother-tongue"][2])

In [9]:
output["region"].append("North East")
north_east = north_east.groupby(["mother-tongue"], as_index=False).agg("sum").sort_values(by=['tot_p'], ascending=False, ignore_index = True)
output["language-1"].append(north_east["mother-tongue"][0])
output["language-2"].append(north_east["mother-tongue"][1])
output["language-3"].append(north_east["mother-tongue"][2])

In [10]:
df = pd.DataFrame(output).sort_values(by = ['region'], ignore_index = True)
df.to_csv("../Final Outputs/region-india-a.csv", index = False)

In [12]:
df

       region language-1 language-2       language-3
0     Central     HINDI        URDU   BHILI/BHILODI
1        East     HINDI    BENGALI             ODIA
2       North     HINDI    PUNJABI         KASHMIRI
3  North East   ASSAMESE   BENGALI            HINDI
4       South    TELUGU      TAMIL           KANNADA
5        West     HINDI    MARATHI          GUJARATI